#menu {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
  }

@keyframes marquee {
  0% { transform: translateX(40%); }
  100% { transform: translateX(-100%); }
}
.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 20s linear infinite;
}

@media (min-width: 768px) {
  @keyframes marque {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .animate-marque {
    display: inline-block;
    min-width: 100%;
    animation: marque 20s linear infinite;
  }
}

.cookie-regular {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.cormorant-garamond{
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
